.header {
    background-color: #1d262c;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header img {
    height: 40px;
  }
  
  @media (max-width: 600px) {
    .header {
      justify-content: center;
    }
  
    .header img {
      margin: 0 auto;
      display: block;
    }
  }
  